[gogovpn]
# 服务类型 (加速=ss; 精品=sspanel)
service=
# 邮箱
email=
# 密码
password=

[hiwifi]
# 路由器地址, 一般为 192.168.199.1
hostname=192.168.199.1
# 用户名, 一般为 root
username=root
# 密码
password=
# 端口, 一般为 1022
port=1022
# SS插件配置路径, 一般为 /etc/config/ss-redir
config_path=/etc/config/ss-redir

[geewan]
# 路由器地址, 一般为 geewan.lan
hostname=geewan.lan
# 密码
password=
# 超时, 一般为 600
timeout=600

[ping]
# 选项(按次数=count; 按时长=time; 跳过=skip; 持续=persistent)
option=count
# 数值(若option=count, 表示次数; 若option=time, 表示时长(单位: 秒))
value=30
